name: Lint

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions: {}

jobs:
  md-link-check:
    name: Broken Markdown links
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run Markdown link check
        uses: gaurav-nelson/github-action-markdown-link-check@3c3b66f1f7d0900e37b71eca45b63ea9eedfce31 # v1.0.17
        with:
          config-file: .github/linters/mlc_config.json
          use-verbose-mode: yes

  super-lint:
    name: Super Linter
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Run Super Linter
        uses: super-linter/super-linter/slim@12562e48d7059cf666c43a4ecb0d3b5a2b31bd9e # v8.4.0
        env:
          IGNORE_GITIGNORED_FILES: true
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          LINTER_RULES_PATH: .github/linters
          GITHUB_TOKEN: ${{ github.token }}
          LOG_LEVEL: WARN
          VALIDATE_ALL_CODEBASE: true
          MULTI_STATUS: true

          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_MARKDOWN: true
